<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.dao.EmpMapper">
    <resultMap id="findAll" type="Employee">
        <id property="empID" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empSex" column="emp_sex"/>
        <result property="empBirth" column="emp_birth"/>
        <result property="empCity" column="emp_city"/>
        <result property="empEmail" column="emp_email"/>
        <result property="empAttend" column="emp_attend"/>
        <result property="empStatus" column="emp_status"/>
        <result property="empSal" column="emp_salary"/>
    </resultMap>

    <!--with Job and Dept-->
    <resultMap id="empLinkdDeptJob" type="Employee" extends="findAll">
        <association property="empDept" javaType="Department">
            <id property="deptID" column="dept_id"/>
            <result property="deptName" column="dept_name"/>
        </association>
        <association property="empJob" javaType="JobPosition">
            <id property="jobID" column="job_id"/>
            <result property="jobName" column="job_name"/>
            <result property="jobSalary" column="job_salary"/>
        </association>
    </resultMap>
    <!--with Trainning-->
    <resultMap id="empLinkTrain" type="Employee" extends="findAll">
        <collection property="trainns" ofType="Trainn">
            <id property="trID" column="tr_id"/>
            <result property="trTitle" column="tr_title"/>
            <result property="trContent" column="tr_content"/>
            <result property="trBegin" column="tr_begin_time"/>
            <result property="trEnd" column="tr_end_time"/>
            <result property="trLocal" column="tr_location"/>
        </collection>
    </resultMap>
    <!--with Bonus-->
    <resultMap id="empLinkBonus" type="Employee" extends="findAll">
        <collection property="bonuses" ofType="Bonus">
            <id property="bmID" column="bm_id"/>
            <result property="bmMoney" column="bm_money"/>
            <result property="bmDate" column="bm_date"/>
            <result property="bmDetail" column="bm_detail"/>
            <result property="bmStatus" column="bm_status"/>
        </collection>
    </resultMap>
    <!--With Salary-->
    <resultMap id="empLinkSal" type="Employee" extends="findAll">
        <collection property="salaries" ofType="Salary">
            <id property="salID" column="sal_id"/>
            <result property="salBasis" column="sal_basis"/>
            <result property="salBonus" column="sal_bonus"/>
            <result property="salOT" column="sal_overtime"/>
            <result property="salPunish" column="sal_punish"/>
            <result property="salSocial" column="sal_social"/>
            <result property="salRecon" column="sal_reconsider"/>
            <result property="salDate" column="sal_date"/>
            <result property="salStatus" column="sal_status"/>
            <result property="salTotal" column="sal_total"/>
        </collection>
    </resultMap>
    <!--With Dimission-->
    <resultMap id="empLinkDms" type="Employee" extends="empLinkdDeptJob">
        <association property="dimission" javaType="Dimission">
            <id property="dmID" column="dm_id"/>
            <result property="dmContent" column="dm_content"/>
            <result property="dmDate" column="dm_date"/>
            <result property="dmStatus" column="dm_status"/>
        </association>
    </resultMap>
    <insert id="saveEmp">
        INSERT INTO T_HRSYS_EMP (EMP_NAME, EMP_SEX, EMP_BIRTH, EMP_CITY, EMP_EMAIL, EMP_DEPT_ID, EMP_JOB_ID, EMP_ATTEND, EMP_STATUS, EMP_HIRE_DATE,EMP_SALARY)
        VALUES (#{empName},#{empSex},#{empBirth},#{empCity},#{empEmail},#{empDept.deptID},#{empJob.jobID},#{empAttend},#{empStatus},sysdate,#{empSal})
    </insert>
    <update id="updateEmp">
        UPDATE T_HRSYS_EMP
        <set>
            <if test="empDept!=null">
                <if test="empDept.deptID!=null and empDept.deptID!=''">
                    EMP_DEPT_ID=#{empDept.deptID},
                </if>
            </if>
            <if test="empJob!=null">
                <if test="empJob.jobID!=null and empJob.jobID!=''">
                    EMP_JOB_ID=#{empJob.jobID},
                </if>
            </if>
            <if test="empAttend!=null and empAttend!=''">
                EMP_ATTEND=#{empAttend},
            </if>
            <if test="empStatus!=null and empStatus!=''">
                EMP_STATUS=#{empStatus}
            </if>
        </set>
        WHERE EMP_ID=#{empID}
    </update>
    <update id="updateBasis">
        UPDATE T_HRSYS_EMP
        <set>
            <if test="empName!=null and empName!=''">
                EMP_NAME=#{empName},
            </if>
            <if test="empSex!=null and empSex!=''">
                EMP_SEX=#{empSex},
            </if>
            <if test="empBirth!=null">
                EMP_BIRTH=#{empBirth},
            </if>
            <if test="empCity!=null and empCity!=''">
                EMP_CITY=#{empCity},
            </if>
            <if test="empAttend!=null and empAttend!=''">
                EMP_ATTEND=#{empAttend}
            </if>
        </set>
        WHERE EMP_ID=#{empID}
    </update>
    <delete id="deleteEmp"></delete>
    <select id="findEmp" resultMap="empLinkdDeptJob">
        SELECT e.*, d.*, j.* FROM T_HRSYS_EMP e JOIN T_HRSYS_DEPT d ON e.EMP_DEPT_ID=d.DEPT_ID JOIN T_HRSYS_JOB j ON e.EMP_JOB_ID=j.JOB_ID
        <where>
            <choose>
                <when test="empID!=null and empID!=''">
                    e.EMP_ID=#{empID}
                </when>
                <when test="empEmail!=null and empEmail!=''">
                    e.EMP_EMAIL=#{empEmail}
                </when>
            </choose>
        </where>

    </select>
    <select id="listAllEmp" resultMap="empLinkdDeptJob">
        SELECT e.*, d.*, j.* FROM (SELECT * FROM T_HRSYS_EMP WHERE EMP_STATUS BETWEEN 0 and 1) e JOIN T_HRSYS_DEPT d ON e.EMP_DEPT_ID=d.DEPT_ID JOIN T_HRSYS_JOB j ON e.EMP_JOB_ID=j.JOB_ID
        WHERE 1=1 AND  e.EMP_DEPT_ID=#{empDept.deptID}
    </select>
    <select id="findWithTr" resultMap="empLinkTrain">
        SELECT e.EMP_ID, tr.* FROM T_HRSYS_EMP e JOIN T_HRSYS_TDINTER THT ON e.EMP_ID = THT.TD_EMP_ID JOIN T_HRSYS_TRAINN tr ON THT.TD_TR_ID=tr.TR_ID
        WHERE e.EMP_ID=#{empID}
    </select>
    <select id="findWithBM" resultMap="empLinkBonus">

    </select>
    <select id="findWithSal" resultMap="empLinkSal">
        SELECT e.EMP_ID, s.* FROM T_HRSYS_EMP e JOIN T_HRSYS_SALARY s ON e.EMP_ID=s.SAL_EMP_ID WHERE e.EMP_ID=${arg0} AND s.SAL_STATUS=${arg1} ORDER BY s.SAL_DATE
    </select>
    <select id="findWithDms" resultMap="empLinkDms">
        SELECT e.EMP_ID,e.EMP_NAME, e.EMP_EMAIL,dp.DEPT_NAME,j.JOB_NAME, dm.DM_ID,dm.DM_CONTENT,dm.DM_DATE FROM T_HRSYS_EMP e
        JOIN T_HRSYS_DEPT dp ON e.EMP_DEPT_ID=dp.DEPT_ID JOIN T_HRSYS_JOB j ON e.EMP_JOB_ID=j.JOB_ID LEFT JOIN T_HRSYS_DIMISSION dm ON e.EMP_ID=dm.DM_EMP_ID
        WHERE e.EMP_ID=#{arg0}
    </select>
    <select id="listAllByDms" resultMap="empLinkDms">
        SELECT e.EMP_ID,e.EMP_NAME, dp.DEPT_NAME,j.JOB_NAME,dm.DM_CONTENT,dm.DM_DATE FROM T_HRSYS_EMP e
        JOIN T_HRSYS_DEPT dp ON e.EMP_DEPT_ID=dp.DEPT_ID JOIN T_HRSYS_JOB j ON e.EMP_JOB_ID=j.JOB_ID JOIN T_HRSYS_DIMISSION dm ON e.EMP_ID=dm.DM_EMP_ID
        WHERE dm.DM_STATUS=#{arg0}
    </select>
</mapper>