<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.dao.InterViewMapper">
    <insert id="saveInterView"></insert>
    <update id="updateInterView"></update>
    <delete id="deleteInterView"></delete>
    <select id="findThisIV" resultType="com.yao.model.InterView"></select>
    <select id="listAll" resultType="com.yao.model.InterView"></select>
</mapper>