<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.dao.ResumeMapper">
    <resultMap id="findResumeMap" type="Resume">
        <id property="resuID" column="resu_id"/>
        <result property="resuName" column="resu_name"/>
        <result property="resuSex" column="resu_sex"/>
        <result property="resuBirth" column="resu_birth"/>
        <result property="resuCity" column="resu_city"/>
        <result property="resuCell" column="resu_cell"/>
        <result property="resuInfo" column="resu_info"/>
        <result property="resuEmail" column="resu_email"/>
        <result property="resuStatus" column="resu_status"/>
        <result property="uid" column="resu_uid"/>
        <result property="resuDegree" column="resu_degree"/>
        <result property="resuMajor" column="resu_major"/>
        <result property="resuEdu" column="resu_edu"/>
        <result property="resuJobEx" column="resu_jobex"/>
    </resultMap>

    <!--With Recruit-->
    <resultMap id="resumeRecruitMap" type="Resume" extends="findResumeMap">
        <association property="internalPost" javaType="InternalPost">
            <result property="postStatus" column="POST_STATUS"/>
        </association>
        <collection property="recruits" ofType="Recruit">
            <id property="riid" column="ri_id"/>
            <result property="riName" column="ri_name"/>
            <result property="riCompany" column="ri_company"/>
            <result property="riSalary" column="ri_salary"/>
            <result property="riDuty" column="ri_duty"/>
            <result property="riDesired" column="ri_desired"/>
            <result property="riAddtion" column="ri_addtion"/>
            <result property="riLocation" column="ri_location"/>
        </collection>
    </resultMap>
    <insert id="saveResume">
        INSERT INTO T_HRSYS_RESUME (RESU_NAME, RESU_SEX, RESU_BIRTH, RESU_CITY, RESU_CELL, RESU_INFO, RESU_STATUS, RESU_UID, RESU_EMAIL, RESU_DEGREE, RESU_MAJOR, RESU_EDU, RESU_JOBEX)
        VALUES (#{resuName},#{resuSex},#{resuBirth},#{resuCity},#{resuCell},#{resuInfo},#{resuStatus},${uid},#{resuEmail},#{resuDegree},#{resuMajor},#{resuEdu},#{resuJobEx})
    </insert>
    <update id="updateResume">
        UPDATE T_HRSYS_RESUME
        <set>
            <if test="resuName!=null and resuName!=''">
                RESU_NAME = #{resuName},
            </if>
            <if test="resuSex!=null and resuSex!=''">
                RESU_SEX = #{resuSex},
            </if>
            <if test="resuBirth!=null and resuBirth!=''">
                RESU_BIRTH = #{resuBirth},
            </if>
            <if test="resuCity!=null and resuCity!=''">
                RESU_CITY = #{resuCity},
            </if>
            <if test="resuCell!=null and resuCell!=''">
                RESU_CELL = #{resuCell},
            </if>
            <if test="resuInfo!=null and resuInfo!=''">
                RESU_INFO = #{resuInfo},
            </if>
            <if test="resuStatus!=null and resuStatus!=''">
                RESU_STATUS = #{resuStatus},
            </if>
            <if test="resuDegree!=null and resuDegree!=''">
                RESU_DEGREE = #{resuDegree},
            </if>
            <if test="resuMajor!=null and resuMajor!=''">
                RESU_MAJOR = #{resuMajor},
            </if>
            <if test="resuEdu!=null and resuEdu!=''">
                RESU_EDU = #{resuEdu},
            </if>
            <if test="resuJobEx!=null and resuJobEx!=''">
                RESU_JOBEX = #{resuJobEx}
            </if>
        </set>
        WHERE RESU_EMAIL=#{resuEmail}
    </update>
    <delete id="deleteResume"></delete>
    <select id="findThisResume" resultMap="resumeRecruitMap">
        SELECT re.*, rs.*, po.POST_STATUS FROM T_HRSYS_RESUME rs JOIN T_HRSYS_POSTINTER po ON rs.RESU_ID=po.POST_RESU_ID JOIN T_HRSYS_RECRUITINF re ON po.POST_RI_ID = re.RI_ID
        WHERE rs.RESU_ID=#{arg0} AND re.RI_ID=#{arg1}
    </select>
    <select id="listMyPost" resultMap="resumeRecruitMap">
        SELECT re.* FROM T_HRSYS_RESUME rs JOIN T_HRSYS_POSTINTER po ON rs.RESU_ID=po.POST_RESU_ID JOIN T_HRSYS_RECRUITINF re ON po.POST_RI_ID=re.RI_ID
        WHERE rs.RESU_UID=#{arg0} AND po.POST_STATUS=#{arg1}
    </select>
    <select id="listAllPost" resultMap="resumeRecruitMap">
        SELECT re.*,rs.* FROM T_HRSYS_RESUME rs JOIN T_HRSYS_POSTINTER po ON rs.RESU_ID=po.POST_RESU_ID JOIN T_HRSYS_RECRUITINF re ON po.POST_RI_ID=re.RI_ID
        WHERE po.POST_STATUS=#{arg0}
    </select>
    <insert id="savePostResume">
        INSERT INTO T_HRSYS_POSTINTER (POST_RI_ID, POST_RESU_ID, POST_STATUS)
        VALUES (#{arg0},#{arg1},#{arg2})
    </insert>
    <update id="updatePostResume">
        UPDATE T_HRSYS_POSTINTER
        SET POST_STATUS=#{arg2}
        WHERE POST_RI_ID=#{arg0} AND POST_RESU_ID=#{arg1}
    </update>
</mapper>